@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>BAM! New website</h1>
    <p class="lead">Brief description of me goes here</p>
    <img src="~/Images/PlaceholderPic.PNG" width="200" height="175"/>
</div>