@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>Kyle Hersey</h2>
    <p class="lead">I'm a software engineer with a passion for finding elegant solutions for complex problems.<br />
    Click on the other tabs to see cool things!
    </p>
    <img src="~/Images/BoeingPic.jpg" height="350" width="350"/>
</div>