@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/Resume.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-12" align="center">
        <h1>Kyle Hersey</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4" align="center">
        <h4>(206)-859-7284</h4>
    </div>
    <div class="col-md-4" align="center">
        <a href=mailto:herseykw@plu.edu>
            <h4>herseykw@plu.edu</h4>
        </a>
    </div>
    <div class="col-md-4" align="center">
        <a href="https://github.com/KyleHersey" target="_blank">
            <h4>https://github.com/KyleHersey</h4>
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h3>Education</h3>
        <p>
            Pacific Lutheran University - June 2015GPA:3.21Bachelor of Science<br />
            Computer Science   Bachelor of Science, Biology<br />
            Algorithms, Data Structures, Operating Systems, Assembly Language, Software Engiennering, Programming Languages<br />
            Languages: Java, C#, Ruby, C++
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Work Experience</h3>
        <div class="row">
            <div class="col-md-4">
                <h4 style="text-align:left">Boeing</h4>
            </div>
            <div class="col-md-8">
                <h4 style="text-align:left">June 2015 - Present</h4>
            </div>
        </div>
        <ul>
            <li>Enhanced Post-Mission Processing report generation using JSF</li>
            <li>Analyzed, debugged, and implemented fixes for defects in existing Java, JavaScript, and Bash scripts</li>
            <li>Refactored existing classes to allow for greater efficiency, future scalability, and stronger objected oriented design</li>
            <li>Created and merged branches, and developed in dynamic and snapshot views in the ClearCase configuration management system</li>
            <li>Updated configuration bash scripts, python scripts, and xml files to keep the development environment up to date with dynamic multi-team interfaces</li>
            <li>Designed SQL scripts to update and query databases for flight planning data</li>
        </ul>
        <div class="row">
            <div class="col-md-4">
                <h4 style="text-align:left">Lab Teaching Assistant and Grader</h4>
            </div>
            <div class="col-md-8">
                <h4 style="text-align:left">October 2013 - Present</h4>
            </div>
        </div>
        <ul>
            <li>Abstracted complex concepts to beginners in order to facilitate learning</li>
            <li>Interpreted existing code in order to understand its writer's intent and organizational structure</li>
            <li>Designed and ran series of tests on student coded data structures</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Software Development Experience</h3>
        <div class="row">
            <div class="col-md-4">
                <h4 style="text-align:left">Minecraft</h4>
            </div>
            <div class="col-md-8">
                <h4 style="text-align:left">June 2013 - Present</h4>
            </div>
        </div>
        <ul>
            <li>Defined and designed Java projects based upon end user requirements</li>
            <li>Implemented and integrated Java classes within a pre-existing API</li>
            <li>Debugged and improved upon distributed code, based upon end user input</li>
        </ul>
        <div class="row">
            <div class="col-md-4">
                <h4 style="text-align:left">CodeDay Seattle</h4>
            </div>
            <div class="col-md-8">
                <h4 style="text-align:left">February 2015</h4>
            </div>
        </div>
        <ul>
            <li>Awarded honorary Mention: Most Technically Challenging Project</li>
            <li>Implemented chess game using C# and XAML within WPF</li>
            <li>Designed and implemented symmetrical observer pattern between Board objects to simply game logic</li>
            <li>Utilized the Git control system to merge updated code and resolve conflicts</li>
        </ul>
        <div class="row">
            <div class="col-md-4">
                <h4 style="text-align:left">Project Euler</h4>
            </div>
            <div class="col-md-8">
                <h4 style="text-align:left">February 2014 - Present</h4>
            </div>
        </div>
        <ul>
            <li>Designed and implemented algorithms in Java in order to solve complex problems</li>
            <li>Implemented distinct cohesive modules to increase efficiency of problem solving, practice code reusability, and decrease coupling</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Relevent Coursework</h3>
        <h4>PLU Software Engineering</h4>
        <ul>
            <li>Collaborated with 4 others to develop a mobile application</li>
            <li>Utilized the GIT version control system in order to integrate separate tasks by group members</li>
            <li>Developed Android GUIs and activities using Java in Eclipse to provide clear data to the user</li>
        </ul>
        <h4>PLU: C++ in Linux</h4>
        <ul>
            <li>Operated in a Linux environment to increase simplicity and flexibility of coding platform</li>
            <li>Utilized C++ to create data structures and solve problems</li>
            <li>Developed bash scripts to automate viewing system processes</li>
            <li>Designed and implemented image editing software to modify and save .tga files</li>
        </ul>
        <h4>PLU: Evolution</h4>
        <ul>
            <li>Designed and implemented a population simulator in Java to provide random sample data within a set of user defined parameters to find resulting patterns</li>
            <li>Performed data visualization in Excel's graphing tool, using .csv files produced by population simulator output</li>
        </ul>
    </div>
</div>
