@{
    ViewBag.Title = "Sorting";
}
<h2>Bubble Sort Demo (more to come)</h2>
<button id="makeBoxButton" onclick="makeBox()">Make boxes</button>
<button id="sortBoxButton" onclick="sortBoxes()">Sort boxes</button>
<div class="row">
    <div id="sandbox" style="background-color: lightgray"></div>
</div>

<script src="~/Scripts/MyScripts/boxmaker.js"></script>